# P!NGFEST sebelumnya
RedirectMatch 403 ^/ping2017/?$
RedirectMatch 403 ^/ping2018/?$

# Semua folder
RedirectMatch 403 ^/css/?$
RedirectMatch 403 ^/img/?$
RedirectMatch 403 ^/img/images/?$
RedirectMatch 403 ^/img/images/carousel/?$
RedirectMatch 403 ^/img/images/itv/?$
RedirectMatch 403 ^/img/images/itv/thumbs/?$
RedirectMatch 403 ^/img/images/semnas/?$
RedirectMatch 403 ^/img/images/semnas/thumbs/?$
RedirectMatch 403 ^/img/sponsorship/?$
RedirectMatch 403 ^/js/?$
RedirectMatch 403 ^/lib/?$
RedirectMatch 403 ^/lib/animate/?$
RedirectMatch 403 ^/lib/bootstrap/?$
RedirectMatch 403 ^/lib/bootstrap/css/?$
RedirectMatch 403 ^/lib/bootstrap/js/?$
RedirectMatch 403 ^/lib/font-awesome/?$
RedirectMatch 403 ^/lib/font-awesome/css/?$
RedirectMatch 403 ^/lib/font-awesome/fonts/?$
RedirectMatch 403 ^/lib/ionicons/?$
RedirectMatch 403 ^/lib/ionicons/css/?$
RedirectMatch 403 ^/lib/ionicons/fonts/?$
RedirectMatch 403 ^/lib/lightbox/?$
RedirectMatch 403 ^/lib/lightbox/css/?$
RedirectMatch 403 ^/lib/lightbox/images/?$
RedirectMatch 403 ^/lib/lightbox/js/?$
RedirectMatch 403 ^/lib/mobile-nav/?$
RedirectMatch 403 ^/lib/owlcarousel/?$
RedirectMatch 403 ^/lib/owlcarousel/assets/?$
RedirectMatch 403 ^/lib/waypoints/?$
RedirectMatch 403 ^/lib/wow/?$
