<!--==========================
      ACARA
    ============================-->
    <section id="why-us" class="wow fadeIn">
            <div class="container">
              <header class="section-header">
                <h3>Acara P!NG</h3>
                <p>Berikut ini adalah rangkaian acara P!NG 2019</p>
              </header>
      
              <div class="row row-eq-height justify-content-center">
      
                <div class="col-lg-4 mb-4">
                  <div class="card wow bounceInUp">
                      <i class="fa fa-language"></i>
                    <div class="card-body">
                      <h5 class="card-title">IT-VENTURE</h5>
                      <p class="card-text">IT-Venture merupakan acara P!NG yang bla bla bla...</p>
                      <a href="#" class="readmore">Selengkapnya</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 mb-4">
                  <div class="card wow bounceInUp">
                      <i class="fa fa-language"></i>
                    <div class="card-body">
                      <h5 class="card-title">IT-VENTURE</h5>
                      <p class="card-text">IT-Venture merupakan acara P!NG yang bla bla bla...</p>
                      <a href="#" class="readmore">Selengkapnya</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 mb-4">
                  <div class="card wow bounceInUp">
                      <i class="fa fa-language"></i>
                    <div class="card-body">
                      <h5 class="card-title">IT-VENTURE</h5>
                      <p class="card-text">IT-Venture merupakan acara P!NG yang bla bla bla...</p>
                      <a href="#" class="readmore">Selengkapnya</a>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </section> 